<main>
  <form
    class="form"
    [ngClass]="{ submitted: submitted }"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <header>
      <h1 class="form-title">Form</h1>
      <p class="form-subtitle">Please fill the form</p>
    </header>

    <fieldset class="form-group">
      <label class="form-control">
        <span class="form-control-title">First Name: *</span>
        <input
          id="first-name-control"
          class="form-control-input"
          type="text"
          required
          formControlName="firstName"
        />
      </label>
      <label class="form-control">
        <span class="form-control-title">Last Name: *</span>
        <input
          id="last-name-control"
          class="form-control-input"
          type="text"
          required
          formControlName="lastName"
        />
      </label>
      <label class="form-control">
        <span class="form-control-title">Email: *</span>
        <input
          id="email-control"
          class="form-control-input"
          type="email"
          required
          formControlName="email"
        />
      </label>
    </fieldset>

    <div class="form-actions">
      <button type="submit">Submit</button>
      <button type="reset">Reset</button>
    </div>
  </form>
</main>
