<main>
  <form
    class="form"
    [ngClass]="{ submitted: submitted }"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <header>
      <h1 class="form-title">Form</h1>
      <p class="form-subtitle">Please fill the form</p>
    </header>

    <div
      class="form-errors"
      #errorsSection
      tabindex="-1"
      [ngClass]="{ active: submitted && errors }"
    >
      <ng-container *ngIf="submitted && errors">
        There were errors found in the form.

        <ul class="form-errors-list" *ngIf="errors">
          <li *ngIf="errors.firstName?.required">
            <a href="#first-name-control">First name is required</a>
          </li>
          <li *ngIf="errors.lastName?.required">
            <a href="#last-name-control">Last name is required</a>
          </li>
          <li *ngIf="errors.email?.required">
            <a href="#email-control">Email is required</a>
          </li>
          <li *ngIf="errors.email?.email">
            <a href="#email-control">Email has to be properly formatted</a>
          </li>
        </ul>
      </ng-container>
    </div>

    <fieldset class="form-group">
      <label class="form-control">
        <span class="form-control-title">First Name: *</span>
        <input
          id="first-name-control"
          class="form-control-input"
          type="text"
          required
          formControlName="firstName"
        />
      </label>
      <label class="form-control">
        <span class="form-control-title">Last Name: *</span>
        <input
          id="last-name-control"
          class="form-control-input"
          type="text"
          required
          formControlName="lastName"
        />
      </label>
      <label class="form-control">
        <span class="form-control-title">Email: *</span>
        <input
          id="email-control"
          class="form-control-input"
          type="email"
          required
          formControlName="email"
        />
      </label>
    </fieldset>

    <div class="form-actions">
      <button type="submit">Submit</button>
      <button type="reset">Reset</button>
    </div>
  </form>
</main>
